/*Pagina Carrito*/
.main{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 30px 0 60px;
}

/*Caja Producto*/
.product-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
}

/*Producto Total Info*/
.product-main-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: solid white 1px;
    width: 100%;
}

/*Producto IMG*/
.product-img{
    height: 70px;
    margin-right: 10px;
}

/*Producto Datos*/
.product-main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

/*Titulo del Producto*/
.product-main-info-title{
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

/*Precio y Cantidad*/
.product-main-price-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*Boton Cantidad*/
#cart-quantity-select{
    font-size: 10px;
    padding: 5px 10px 5px 0;
    border: solid rgb(77, 77, 77) 1px;
    border-radius: 3px;
    background-color: transparent;
}

/*Precio Producto*/
.product-main-price-title{
    font-size: 20px;
    font-weight: 400;
}

/*Boton Eliminar*/
.main-delete-button{
    border: none;
    background-color: transparent;
    color: rgb(63, 120, 224);
    font-size: 15px;
    margin: 10px;
}

/*Sección Total a Pagar*/
.main-buy-section-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

/*Titulo Precio Final*/
.main-buy-section-title{
    font-size: 20px;
    font-weight: 300;
}

/*Boton Comprar*/
.main-buy-section-button{
    font-size: 15px;
    padding: 5px 10px 5px;
    width: 40%;
    background-color: rgb(63, 120, 224);
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 10px;
}

@media (min-width: 768px){
   
    /*Caja Producto*/
    .product-article{
        max-width: 1200px;
    }
   
    /*Producto Datos*/
    .product-main-info{
         flex-direction: row;
    }

    /*Precio y Cantidad*/
    .product-main-price-content{
        width: 40%;
        justify-content: space-around;
    }

    /*Titulo del Producto*/
    .product-main-info-title{
        font-size: 20px;
    }

    /*Precio Producto*/
    .product-main-price-title{
         font-size: 25px;
    }

    /*Boton Cantidad*/
    #cart-quantity-select{
        font-size: 15px;
    }

    /*Titulo Precio Final*/
    .main-buy-section-title{
        font-size: 25px;
    }

    /*Boton Comprar*/
    .main-buy-section-button{
        font-size: 20px;
    }
}
.main-buy-section-button:hover{
    background-color: rgb(184, 75, 108);
    transition: all 0.2s;
}