.main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-article {
    margin: 20px;
    width: 200px;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.363);
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
    border: solid white;
    border-width: 3px;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.divs{
    text-align: center;
    margin-top:10px;
}
.divs-buttons{
    display: flex;
    flex-wrap:wrap;
    margin-top:10px;
    justify-content:space-around;
}
.divs h1 {
    overflow: hidden;
    font-family: 'American Typewriter';
    font-weight: 400;
    font-size: 20px;
    color: black;
}
#avatar-box{
    border: solid white;
    border-width: 5px;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
    width: auto;
    height: 100%;
    margin-left: -40px;   
}
@media (min-width: 768px){
}
@media (min-width: 1200px){
    .main{
        padding: 20px 3%;
    }
}
.main-article:hover{
    box-shadow: 0px 0px 30px rgb(139, 139, 139);
}