<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="pcreate-body">
    <%- include('../partials/header') %>

    <main class="pcreate-main">
        <section id="pcreate-section-form">        
    
            <form id="pcreate-form" action="/product/create" method="POST" enctype="multipart/form=data">
                
                <h1 id="pcreate-form-title">Creación de producto</h1>

                <div class="pcreate-input-box">
                    <label class="la-bel" for="productname">Nombre del producto:</label>
                    <input class="in-put" type="text" name="productname" placeholder="Nombre del producto" id="product-name" required>
                </div>
           
                <div class="pcreate-input-box">
                    <label class="la-bel" for="category">Categoría:</label>
                    <select class="in-put" id="category" name="category" placeholder="categorias">
                        <option value="all">Todos</option>
                        <option value="paper">Resmas</option>
                        <option value="librery">Libreria</option>
                        <option value="office-products">Equipamiento para la Oficina</option>
                        <option value="merch">Merchandising</option>
                      </select>
                </div>
    
                <div class="pcreate-input-box">
                    <label class="la-bel" for="prize">Precio:</label>
                    <input class="in-put" type="number" name="prize" placeholder="Precio" id="prize" required>
                </div>

                <div class="pcreate-input-box">
                    <label class="la-bel" for="productImage">Imagen del producto:</label>
                    <input type="file" class="in-put" name="product_image" accept=".jpg" id="productImage"> 
                </div>

                <div class="pcreate-input-box">
                    <textarea class="in-put" name="description" id="description" cols="30" placeholder="Descripción del producto" rows="5"></textarea>
                </div>

                <div class="pcreate-input-box">
                    <button id="send-button" type="submit">CARGAR PRODUCTO</button>
                </div>

            </form>

        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>