<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <!--Pagina Carrito-->
    <main class="pc-main">
        
        <!--Sección Productos-->
        <article class="pc-product-article">
          
            <!--Producto Total Info-->
            <div class="pc-product-main-data">
                
                <!--Producto IMG-->
                <img src="/img/Products-Images/Product-Image1.jpg" alt="Product1" class="pc-product-img">
           
                <!--Producto Datos-->
                <div class="pc-product-main-info">
           
                    <!--Titulo Producto-->
                    <h1 class="pc-product-main-info-title">Resmas 200 hojas Color Blanco</h1>
           
                    <!--Precio y Cantidad-->
                    <div class="pc-product-main-price-content">
           
                        <!--Boton Cantidad-->
                        <select name="cart-quantity-selector" id="pc-cart-quantity-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
           
                        <!--Precio Producto-->
                        <h1 class="pc-product-main-price-title">50 USD</h1>
                    </div>
                </div>
            </div>
        
            <!--Boton Eliminar-->
            <button class="pc-main-delete-button">Eliminar</button>
        </article>
      
        <!--Sección Productos-->
        <article class="pc-product-article">
        
            <!--Producto Total Info-->
            <div class="pc-product-main-data">
        
                <!--Producto IMG-->
                <img src="/img/Products-Images/Product-Image1.jpg" alt="Product1" class="pc-product-img">
        
                <!--Producto Datos-->
                <div class="pc-product-main-info">
        
                    <!--Titulo Producto-->
                    <h1 class="pc-product-main-info-title">Resmas 200 hojas Color Blanco</h1>
        
                    <!--Precio y Cantidad-->
                    <div class="pc-product-main-price-content">
        
                        <!--Boton Cantidad-->
                        <select name="cart-quantity-selector" id="pc-cart-quantity-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
        
                        <!--Precio Producto-->
                        <h1 class="pc-product-main-price-title">50 USD</h1>
                    </div>
                </div>
            </div>
        
            <!--Boton Eliminar-->
            <button class="pc-main-delete-button">Eliminar</button>
        </article>

        <!--Sección Comprar-->
        <article class="pc-product-article">
         
            <!--Total a Pagar-->
            <div class="pc-main-buy-section-info">
                <h1 class="pc-main-buy-section-title">Total</h1>
                <h2 class="pc-main-buy-section-title">50 USD</h2>
            </div>
         
            <!--Boton Comprar-->
            <button class="pc-main-buy-section-button">Comprar</button>
        </article>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>