<article class="home-article">

    <img src="/img/Products-Images/Product-Image1.jpg" alt="Product-Image1" class="product-images">

    <h3 class="home-article-title">Resma 200 hojas color Blanco</h3>

    <h4 class="home-article-price">50 USD</h4>

    <div class="home-article-button">

        <form action="#" method="POST" class="home-article-form">
            <button type="submit" class="article-button-comprar">Comprar</button>
        </form>

        <form action="#" method="GET" class="home-article-form">
            <button class="article-button-ver">Ver</button>
        </form>

    </div>
</article>