.off{
    color: rgb(51, 184, 69);
    font-family: "bebas neue";
    font-size: 3vw;
    
}

.off {
    font-size: 4.5vw;
}
.featured-category-img {   
    width: 100%;
    display: block;
    
}
.trash-icon {
    position: absolute;
    margin: 13vw;
    font-size: 8vw;
    display: none;
    background-color: none;

}
.trash-button {
    border: none;
    font-size: 100%;
    background-color: transparent;
    text-decoration: none;
}

.section-offers-title {
    font-family: "bebas neue";
    font-size: 6vw;
    width: 90%;
    margin: 2% auto 0px auto;
    
}
.offer-title {
    width: 100%; 
    text-align: center;
    margin: auto;
}
.offer-title-h4 {   
    color: rgb(50, 50, 50);
    text-align: center;
    font-size: 4vw;
    font-family: "QuickSand";

}

.offer-img-div > img {
    object-fit: cover;

}

.featured-offers-box {     
    display: flex;
    width: 90%;
    margin: 0px auto auto auto;
    padding: auto;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
    
}
.featured-offer {
    width: 40%;
    margin: auto;
    padding-bottom: 0px;
    position: relative;
    margin: 1%;
    display: flex;
    flex-direction: column;  
    background-color: rgb(225, 225, 225);
    border: solid white;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);


}
/*con seleccionado a hacer*/
.featured-offer:hover { 
    transition: all 0.2s;
    opacity: 70%;
}

.featured-offer:hover .trash-icon{ 
    display: flex; 
}
/*/con seleccionado a hacer*/

@media (min-width: 768px) {
    
    .section-categorys-title, .section-products-title, .section-offers-title {
        font-size: 4vw;
    }
    .category-title-h4, .offer-title-h4 {
        font-size: 1.5vw;
    }
    
    .featured-offer {
        width: 20%;
    }
    
    .off {
        font-size: 2.5vw;
    }

    .trash-icon {
        margin: 6.5vw;
        font-size: 4vw; 
    
    }
}

@media (min-width: 1200px) {
    .featured-offers-box {
        width: 80%;
        padding: 0;
    }
    .featured-offer:hover { 
        transition: all 0.2s;
        opacity: 70%;
    }
    
    .featured-offer:hover .trash-icon{ 
        display: flex; 
    }
    
    .featured-offers-box {
        justify-content: space-between;
        align-content: space-between;
    }
    .section-categorys-title, .section-offers-title, .section-products-title {
        font-size: 3vw;
    }
    .section-categorys-title, .section-offers-title {
        width: 80%;
    }
    .trash-icon {
        margin: 4vw;
        font-size: 3vw; 
    
    }
    .offer-title-h4{
        font-size: 1vw;
        font-weight: bold;
    }
    .featured-offer {
        width: 14%;
    }
    .off {
        font-size: 2vw;
    }

}

