/*Seccion Footer*/
#page-footer{
     background-color: white;
     font-family: 'Bebas Neue';
     position: relative;
     bottom: 0;
     width: 100%;
     margin-top: auto;
}

.footer{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     padding: 20px 0px;
     
}

/*Footer Logo*/
.footer-img{
     width: 30%;
     text-align: center;
}

/*Logo IMG*/
.logo-footer{
     width: 45px;
}

/*Footer Data*/
.footer-hiper{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 40%;
     font-size: 10px;

}

/*Footer Data Title*/
.footer-title{
     font-weight: 400;
}

/*Footer Social Media*/
.footer-icons{
     width: 30%;
     text-align: center;
}

/*Social Media Icons*/
.fo-list-icon{
     font-size: 15px;
     padding: 3px 0px;
}

/*Lista Elementos Footer*/
.footer-list{
     list-style-type: none;
}

/*Cada Elemento de la Lista*/
.footer-items{
     display: flex;
     justify-content: center;
     font-family: Quicksand;
}

/*Tablet View*/
@media (min-width: 768px){

    /*Logo IMG*/
    .logo-footer{
         width: 80px;
    }

    /*Social Media Icons*/
    .fo-list-icon{
         font-size: 25px;
    }

    /*Footer Data*/
    .footer-hiper{
         font-size: 16px;
    }
}
