/*Sección Header*/
.header-section{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 25px;
     position: relative;
}

/*Header Logo*/
#dm-logo{
     height: 20vw;
}

/*Botones Header*/
.header-button{
     border: none;
     background-color: transparent;
}

/*Iconos Botones*/
.header-icons{
     font-size: 6vw;
     padding: 0px 20px;
     color: white;
}

/*Botones Laptop*/
.header-laptop-buttons{
     display: none;
}

/*Tablet View*/
@media (min-width: 768px){
    
    /*Header Logo*/
    .header-logo{
         order: -1;
         padding-left: 25px;
    }

    #dm-logo{
         height: 10vw;
    }

    /*Boton Carrito*/
    #header-button-cart{
         position: absolute;
         display: flex;
         right: 10vw;
    }

    /*Boton Usuario*/
    #header-button-user{
         position: absolute;
         display: flex;
         right: 5vw;
    }

    /*Iconos Botones*/
    .header-icons{
         font-size: 3vw;
    }
}

/*Laptop View*/
@media (min-width: 1200px){
    
    /*Sección Header*/
    .header-section{
         padding: 0px 50px;
    }
    
    /*Seccion Botones*/
    .header-laptop-buttons{
         display: flex;
         width: 30%;
    }

    /*Botones Carrito y User (Mobile/Tablet)*/
    #header-button-cart, #header-button-user{
         display: none;
     }

     /*Lista Botones*/
     .header-list, .header-list a{
         display: flex;
         list-style-type: none;
         text-decoration: none;
         color: black;      
     }

     .header-list{
         display: flex;
         justify-content: flex-end;
         text-align: center;
         align-items: center;
         width: 100%;
     }
     
     /*Botones*/
     .header-laptop-items{
         font-size: 1.7vw;
         padding: 5px 10px;
         margin: 0px 5px;
         border: none;
         border-radius: 4px;
         font-family: 'Bebas Neue', sans-serif;
     }

     /*Boton Carrito*/
     .cart-button{
         background-color: transparent;
         font-size: 1.5vw;
         margin-right: 10px;
         padding: 0px;
         display: flex;
         color: white;
     }

     /*Icono Carrito*/
     .cart-icon{
         display: flex;
     }
          
}

/*<----Sección Boton Busqueda---->*/

/*Boton de Busqueda*/
.search-buttom{
      display: none;
      align-items: center;
      width: 50%;
}

.form-search{
      display: flex;
      align-items: center;
      width: 100%;
}

/*Buscador*/
.input {
      background-color: white;
      border: none;
      outline: none;
      color: #666;
      padding: 5px;
      font-size: 20px;
      width: 100%;
      border-radius: 4px;
}

/*Boton Buscador*/
.submit {
      background-color: white;
      border: none;
      color: #666;
      padding: 5px;
      font-size: 20px;
      border-radius: 4px;
      margin-left: -10px;
}

/*Tablet View*/
@media (min-width: 768px){
     
     /*Boton de Busqueda*/
     .search-buttom{
           display: flex;
           position: absolute;
           left: 25vw;
          
     }
     
}

/*Laptop View*/
@media (min-width: 1200px){

     /*Boton de Busqueda*/
     .search-buttom{
           display: none;
     }
}