#body{
    font-family: 'Roboto', sans-serif;
}

/*Pagina Detalle de Producto*/
.main{
    display: flex;
    justify-content: center;
}

/*Sección Producto*/
.main-article{
    display: flex;
    flex-direction: column;
    margin: 25px 20px;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.699);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    max-width: 550px;
    align-items: center;
}

/*Producto IMG*/
.product-image{
    width: 300px;
}

/*Product Info*/
.article-data{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0px;
}

/*Titulo Producto*/
.article-title{
    font-weight: 400;
    font-size: 30px;
}

/*Precio Producto*/
.article-price{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}

/*Cantidad*/
.article-quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Titulo Cantidad*/
.article-quantity-title{
    font-weight: 400;
    font-size: 25px;
}

/*Boton Cantidad*/
#quantity-button{
    font-size: 20px;
    width: 55px;
    background-color: transparent;
    border: solid 1px;
}

/*Boton Agregar al Carrito*/
.article-buy-button{
    width: 100%;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    background-color: rgb(63, 120, 224);
    border: none;
    color: white;
}

/*Titulo Descripcion*/
.article-description-title{
    font-size: 20px;
    font-weight: 400;
}

/*Producto Descripcion*/
.article-description-text{
    font-size: 15px;
    font-weight: 400;
}

@media (min-width: 1200px){

    /*Sección Producto*/
    .main-article{
        flex-direction: row;
        max-width: 800px;
        margin-bottom: 120px;
        margin-top: 50px;
    }

    /*Producto IMG*/
    .product-image{
        width: 30%;
        margin-right: 10px;
    }

    /*Product Info*/
    .article-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0px 10px;    
    }

    /*Titulo Producto y Cantidad*/
    .article-data-price-section{
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        height: 50%;
        padding-top: 20px;
    }

    /*Titulo Producto*/
    .article-title{
         font-size: 30px;
    }

    /*Precio Producto*/
    .article-price{
         font-size: 20px;
    }

    /*Titulo Cantidad*/
    .article-quantity-title{
          font-size: 20px;
    }

    /*Boton Cantidad*/
    #quantity-button{
        font-size: 20px;
        width: 65px;
    }

    /*Boton Agregar al Carrito*/
    .article-buy-button{
        width: 100%;
        max-width: 800px;
        font-size: 20px;
        height: 35px;
        order: 2;      
    }

    /*Descripción*/
    .article-description{
        padding-top: 15px;
    }

    /*Titulo Descripcion*/
    .article-description-title{
        font-size: 20px;
    }

    /*Producto Descripcion*/
    .article-description-text{
        font-size: 15px;
    }
}