.main {
    padding: 20px;
}
.main-article {
    margin: auto;
    max-width: 90%;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.363);
    box-shadow: 0px 0px 30px rgb(139, 139, 139);
    padding-bottom: 30px;
    border: solid white;
    overflow: hidden;
    margin-bottom: 40px;
}
.divs{
    text-align: center;
    
}
.divs h1 {
    font-family: 'American Typewriter';
    font-weight: 400;
    font-size: 40px;
}
#avatar-box{
    border-width: 5px;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
#divs-forms{
    display: flex;
    justify-content: space-around;
}

.avatar {
    width: auto;
    height: 100%;
    margin-left: -40px;   
}
@media (min-width: 768px){
    .main-article {
        max-width: 500px;
    }
    .divs{
        margin: 30px auto;
    }
    #avatar-box {
        width: 250px;
        height: 250px;
    }
}
@media (min-width: 1200px){
    
}