<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/contactInfo.css">
</head>

<body>

    <!--HEADER-->
    <header id="page-header">
        <%- include('./partials/header') %>
    </header>

    <!--MAIN-->
    <main>
         <h1>CONTACT US WIIIII</h1>
    </main>


    <!--FOOTER-->
    <footer id="page-footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>