<%- include('./partials/head') %>
</head>

<body>   
    <!--Header-->
    <%-  include('./partials/header') %>

    <!--Main -->
    <main class="home-main">
        <img src="/img/error.jpg" alt="image-error">
        <h1>ERROR-404: NOT FOUND! sorry :(</h1>
    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>