<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <div class="header-background">
        
        <!--Fondo Bienvenida-->
        <img src="/img/Fondo-Main-Page2.jpg" alt="Fondo-Bienvenida" class="fondo-Bienvenida">
        
        <!--Header-->
        <%-  include('./partials/header') %>
        
        <!--Laptop Bienvenida-->
        <section class="page-welcome">
            <h1 class="page-welcome-main-title"> Bienvenidos a Dunder Mifflin </h1>
            <h2 class="page-welcome-title"> Paper Company </h2>
        
            <div class='search-buttom-2'>
                <form action="#" method="GET" class='form-search'>
        
                    <input class='input' type="text" placeholder="Buscá productos, marcas, y más">
                    <button class='submit'>
                        <i class="fas fa-search search-icon"></i>
                    </button>
        
                </form>
            </div>
        </section>
    </div>

    <!--Frase Home-->
    <section class="home-phrase">
        <h1 class="home-phrase-title">"The Office Is a Place Where Dreams Come True"</h1>
    </section>

    <!--Main Home-->
    <main class="home-main">
        
        <!--Sección Categorias-->
        <section class="home-main-category">

             <a href="/product/filter" class="home-category1 home-category">
                 <h3 class="home-category-title">Paper</h1>
             </a>

            <a href="/product/filter" class="home-category2 home-category">
                 <h3 class="home-category-title">Libreria</h1>
            </a>

            <a href="/product/filter" class="home-category3 home-category">
                 <h3 class="home-category-title">Equipos Multifuncionales</h1>
            </a>

        </section>
        
        <!--Titulo de la Sección-->
        <h1 class="home-main-page-title">PRODUCTOS MAS VENDIDOS</h1>   
        
        <!--Productos-->
        <section class="article-section">       
            
            <!--Numero de Productos-->
            <% const num = 6 %>

            <% for (let i = 0; i < num; i++) { %> 
                <%- include('./partials/homeArticle') %>
            <% } %>   
        </section>

        <!--Banner-->
        <section class="home-banner">
            <img src="/img/DM-Banner.jpg" alt="Publish Banner">
        </section>

        <!--Titulo de la Sección 2-->
        <h1 class="home-main-page-title">PRODUCTOS EN OFERTA</h1>

        <!--Productos-->
        <section class="article-section">
                  
            <% for (let i=0; i < num; i++) { %>
                  <article class="home-article">

                         <img src="/img/Products-Images/Product-Image1.jpg" alt="Product-Image1" class="product-images">
 
                         <h3 class="home-article-title">Resma 200 hojas color Blanco</h3>

                         <h4 class="home-article-price">50 USD</h4>

                         <div class="home-article-button">

                             <form action="#" method="POST" class="home-article-form">
                                 <button type="submit" class="article-button-comprar">Comprar</button>
                             </form>

                             <form action="#" method="GET" class="home-article-form">
                                 <button class="article-button-ver">Ver</button>
                             </form>

                        </div>
                  </article>
            <% } %>
        </section>
    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>